__pycache__/
*.py[cod]
*$py.class
.DS_Store

/outputs/
/checkpoints
/datasets

dexjoco_sim/envs/xmls/**
!dexjoco_sim/envs/xmls/
!dexjoco_sim/envs/xmls/README.md

teleoperation/GeoRT/checkpoint/**/*.pth
teleoperation/GeoRT/data/*
!teleoperation/GeoRT/data/
!teleoperation/GeoRT/data/README.md
teleoperation/GeoRT/hand_landmarker.task
